<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【评论】 -->
<mapper namespace="com.solland.paidao.dao.CommentDAO">

	<!-- 查询【评论】的记录数 -->
	<sql id="selectCount">
		SELECT count(1) FROM pd_comment_profile
	</sql>

	<!-- 添加【评论】 -->
    <insert id="insertComment" parameterType="com.solland.paidao.entity.CommentDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pd_comment_profile (
   			create_time
   			<if test="0 &lt; activityId">, activity_id </if>
   			<if test="0 &lt; criticId">, critic_id </if>
   			<if test="0 &lt; beReplyerId">, be_replyer_id </if>
   			<if test="null != content and '' != content">, content </if>
       	) 
        VALUES(
        	now()
       		<if test="0 &lt; activityId">, #{activityId} </if>
       		<if test="0 &lt; criticId">, #{criticId} </if>
       		<if test="0 &lt; beReplyerId">, #{beReplyerId} </if>
   			<if test="null != content and '' != content">, #{content} </if>
        )
    </insert>
    
    <!-- 根据【活动ID】查询【评论】的数量 -->
    <select id="selectCommentCountByActivityId" parameterType="int" resultType="int">
    	<include refid="selectCount" />
    	where activity_id = #{activityId}
    </select>
    
</mapper>