<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【评论】 -->
<mapper namespace="com.solland.paidao.dao.CommentDAO">

	<!-- 查询【评论】的记录数 -->
	<sql id="selectCount">
		SELECT count(1) FROM pd_comment_profile
	</sql>

	<!-- 添加【评论】 -->
    <insert id="insertComment" parameterType="com.solland.paidao.entity.CommentDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pd_comment_profile (
   			create_time, activity_id , critic_id , replyer_id , content
       	) 
        VALUES(
        	now(), #{activityId} , #{criticId} , #{replyerId} , #{content}
        )
    </insert>
    
    <!-- 根据【活动ID】查询【评论】的数量 -->
    <select id="selectCommentByActivityId" parameterType="int" resultType="com.solland.paidao.entity.bo.CommentBO">

		select cp.* , up.head_portrait criticHeadPortrait ,up.nickname criticName , ups.nickname replyerName
		from pd_comment_profile cp
		left join pd_user_profile up on up.id = cp.critic_id
		left join pd_user_profile ups on ups.id = cp.replyer_id
		where cp.activity_id =  #{activityId}
    </select>

	<!-- 根据【活动ID】查询【评论】的数量 -->
	<select id="selectCommentCount" parameterType="int" resultType="int">
		select count(id) from pd_comment_profile where activity_id = #{activityId}
	</select>


	<select id="selectCommentUserIds" parameterType="int" resultType="int">

		select cp.critic_id
		from pd_comment_profile cp
		where cp.activity_id =  #{activityId}
	</select>
</mapper>