<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【加热】 -->
<mapper namespace="com.solland.paidao.dao.HeatDAO">

	<!-- 查询【加热】的记录数 -->
	<sql id="selectCount">
		SELECT count(1) FROM pd_heat_info
	</sql>

	<!-- 添加【加热】 -->
    <insert id="insert" parameterType="com.solland.paidao.entity.HeatDO" useGeneratedKeys="true" keyProperty="id">
			INSERT INTO 
			pd_heat_info (
      			create_time
      			<if test="0 &lt; triggerUserId">, trigger_user_id </if>
      			<if test="0 &lt; increaseHeatValue">, increase_heat_value </if>
      			<if test="null != increaseType and '' != increaseType">, increase_type </if>
      			<if test="0 &lt; lastTimeHeatValue">, last_time_heat_value </if>
      			<if test="0 &lt; activityId">, activity_id </if>
      			<if test="0 &lt; authorId">, author_id </if>
      		) 
            VALUES(
           		CURRENT_TIMESTAMP
           		<if test="0 &lt; triggerUserId">, #{triggerUserId} </if>
           		<if test="0 &lt; increaseHeatValue">, #{increaseHeatValue} </if>
           		<if test="null != increaseType and '' != increaseType">, #{increaseType} </if>
           		<if test="0 &lt; lastTimeHeatValue">, #{lastTimeHeatValue} </if>
           		<if test="0 &lt; activityId">, #{activityId} </if>
           		<if test="0 &lt; authorId">, #{authorId} </if>
            )
    </insert>
    
    <!-- 根据【活动ID】查询【加热】的数量 -->
    <select id="selectHeatCountByActivityId" parameterType="int" resultType="int">
    	<include refid="selectCount" />
    	where activity_id = #{activityId}
    </select>
    
</mapper>