<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.solland.paidao.dao.NotificationDAO">

    <select id="selectNotificationListByUserId" resultType="com.solland.paidao.entity.NotificationDO" parameterType="int">
        select * from pd_notification where to_user_id = #{userId} and notice_status = 'new'
    </select>

	<!-- 【注册】 -->
    <insert id="insertNotification" parameterType="com.solland.paidao.entity.NotificationDO" useGeneratedKeys="true" keyProperty="id">

          INSERT INTO pd_notification(
          		activity_id, notice_type, notice_status,do_user_id, to_user_id, create_time , content
          		)
          VALUES(
          		#{activityId}, #{noticeType}, #{noticeStatus},  #{doUserId}, #{toUserId}, NOW() , #{content}
          		)

    </insert>

	<!-- 通过邮箱修改用户状态 -->
	<update id="updateStatus" parameterType="int">
		UPDATE pd_notification SET notice_status = 'pass' WHERE id = #{id}
	</update>

</mapper>