<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solland.paidao.dao.UserDAO">

    <select id="getCount" resultType="int" parameterType="String">
        select count(id) from test
    </select>

	<!-- 注册 -->
    <insert id="register" parameterType="com.solland.paidao.entity.UserDO" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
           INSERT INTO pd_user_profile( username, password ) VALUES( #{username}, #{password} )
        ]]>
    </insert>
    
    <!-- 根据【用户名】查询【用户】 -->
    <select id="login" resultType="com.solland.paidao.entity.bo.UserBO">
    	SELECT
            id ,nickname ,gender ,username ,password ,birthday ,location ,
            head_portrait ,phone_number ,email ,wechat ,sina_weibo ,
            create_time ,modify_time ,twiter ,facebook ,linkedin ,status
        FROM
            pd_user_profile
        WHERE
            ( username = #{account} or email = #{account} or phone_number = #{account} )
            AND password = #{password}
    </select>
    
    <!-- 根据【用户名】查询【用户数】 -->
    <select id="selectCountByUsername" parameterType="String" resultType="int">
    	SELECT count(1) FROM pd_user_profile WHERE username = #{username}
    </select>

</mapper>