<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solland.paidao.dao.UserDAO">

    <select id="getCount" resultType="int" parameterType="String">
        select count(id) from test
    </select>

	<!-- 注册 -->
    <insert id="register" parameterType="com.solland.paidao.entity.UserDO" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
           INSERT INTO pd_user_profile( phone_number, password ) VALUES( #{phoneNumber}, #{password} )
        ]]>
    </insert>
    
    <!-- 根据【用户名】查询【用户】 -->
    <select id="login" resultType="com.solland.paidao.entity.bo.UserBO">
    	SELECT
            id ,nickname ,gender ,username ,password ,birthday ,location ,
            head_portrait ,phone_number ,email ,wechat ,sina_weibo ,
            create_time ,modify_time ,twiter ,facebook ,linkedin ,status
        FROM
            pd_user_profile
        WHERE
            ( username = #{account} or email = #{account} or phone_number = #{account} )
            AND password = #{password}
    </select>
    
    <!-- 根据【用户名】查询【用户数】 -->
    <select id="selectCountByUsername" parameterType="String" resultType="int">
    	SELECT count(1) FROM pd_user_profile WHERE username = #{username}
    </select>

    <!-- 根据【手机号】查询【用户数】 -->
    <select id="selectCountByMobileCode" parameterType="String" resultType="int">
    	SELECT count(1) FROM pd_user_profile WHERE phone_number = #{phoneNumber}
    </select>
    
    <!-- 根据【手机号】更新【密码】 -->
    <update id="updatePasswordByMobileCode" parameterType="com.solland.paidao.entity.UserDO">
    	UPDATE pd_user_profile SET password = #{password} WHERE phone_number = #{phoneNumber}
    </update>
    
    <!-- 更加【手机号】更新【用户】信息 -->
    <update id="updateUserByMobileCode" parameterType="com.solland.paidao.entity.UserDO">
    	UPDATE 
    		pd_user_profile
    	SET
    		modify_time = CURRENT_TIMESTAMP
    		<if test="null != username and '' != username">, username = #{username} </if>
    		<if test="null != name and '' != name">, name = #{name} </if>
    		<if test="null != nickname and '' != nickname">, nickname = #{nickname} </if>
    		<if test="null != gender and '' != gender">, gender = #{gender} </if>
    		<if test="null != email and '' != email">, email = #{email} </if>
    		<if test="null != wechat and '' != wechat">, wechat = #{wechat} </if>
    		<if test="null != sinaWeibo and '' != sinaWeibo">, sina_weibo = #{sinaWeibo} </if>
    		<if test="null != twiter and '' != twiter">, twiter = #{twiter} </if>
    		<if test="null != facebook and '' != facebook">, facebook = #{facebook} </if>
    		<if test="null != linkedin and '' != linkedin">, linkedin = #{linkedin} </if>
    		<if test="null != headPortrait and '' != headPortrait">, headPortrait = #{headPortrait} </if>
    	WHERE
    		phone_number = #{phoneNumber}
    </update>

</mapper>